In [4]:
for item in range(3,10):
    print(item)

3
4
5
6
7
8
9

In [7]:
for item in range(3,10,2):
    print(item)

3
5
7
9

In [18]:
myword='abcdef'
for item in enumerate(myword):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [19]:
for idx, val in enumerate(myword):
    print(str(idx) + ' '  + val)

0 a
1 b
2 c
3 d
4 e
5 f

In [22]:
mylist1 = [1, 2, 3, 4, 5]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [23]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [24]:
'x' in [1, 2, 3]

False

In [26]:
'a' in ['a', 'b', 'c']

True

In [27]:
'a' in 'a word'

True

In [28]:
'myKey' in {'myKey':123}

True

In [29]:
from random import shuffle

In [30]:
mylist =[1,2,3,4,5,6,7,8,9,10]

In [31]:
shuffle(mylist)

In [32]:
mylist

[3, 9, 10, 7, 1, 5, 4, 8, 6, 2]

In [33]:
from random import randint

In [34]:
randint(0, 100)

87

In [35]:
randint(0, 100)

72

In [36]:
mynum = randint(0, 100)

In [38]:
mynum

38

In [43]:
result = input('Enter a number here')

Enter a number here144

In [44]:
result

'144'

In [45]:
type(result)

str

In [46]:
int(result)

144

In [47]:
str(result)

'144'

In [48]:
float(result)

144.0

In [55]:
mylist = [num**2 for num in range(0, 15)]

In [56]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [57]:
mylist = [num for num in range(0, 11) if num%2 == 0]

In [58]:
mylist

[0, 2, 4, 6, 8, 10]

In [61]:
celsius = [0, 1, 10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 33.8, 50.0, 68.18, 94.1]